body, html {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

#title, #description {
    text-align: center;
}

#survey-form {
    width: 800px;
    max-width: 100%;
    margin: 1rem auto;
}

#survey-form input {
    display: block;
    width: 80%;
    max-width: 20rem;
    padding: .5rem 4px;
    margin: 4px auto;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid grey;
}

input:focus {
    outline: none;
    border-bottom: 2px solid black; 
}